<div class="jumbotron text-center">
<h1>About</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
<p>
  Hide Folder Information Folder Lab 3 - Introduction to Static Pages and CSS3 Styling (toy_app) Instructions The objective of this lab is to concentrate on creation of static pages and the initial use of additional styling using a CSS3 framework from W3Schools, their w3.css Stylesheet 
  <a href="https://www.w3schools.com/w3css/4/w3.css">W3Schools About page</a>.
  To get help on this sample app, see the
  <a href="https://www.w3schools.com/w3css/default.asp"><em>w3schools Tutorial</em>
  book</a>.
</p>

</div>
</div>
</div>