
<!DOCTYPE html>

<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Home Page</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Toy Application</h3>
      <p>This is my very first successful Toy Application!</p>
      <p>Toy_App was created by Rails app! This outline was created by w3schools!</p>
    </div>
   
</div>

</body>
</html>